<div class="container" *ngIf="posts">
  <head>
    <style>
      h1 {
        text-align: center;
      }
    </style>
  </head>
  <h1 style="color: deeppink">MyBlog</h1>
  <div
    *ngFor="let post of posts"
    class="card"
    style="max-width: 500px; margin: 0 auto"
  >
    <img [src]="post.featuredImageUrl" class="card-img-top" alt="..." />
    <div class="card-body">
      <h2 class="card-title">
        {{ post.title }}
      </h2>
      <br />
      <article class="card-text">
        {{ post.summary }}
      </article>
      <br />
      <a class="btn btn-primary" [routerLink]="['/post', post.id]"
        >View Blog Post</a
      >
    </div>
  </div>
</div>
